.container {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0; 
  width: 100%;  
  padding: 0.2rem 10rem;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--primary);
  z-index: 10;
}

.contents {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    height: 3rem;
}

.logo img {
    height: 100%;
}

.contents a, .contents span {
    color: white;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.contents a:hover, .contents span:hover {
    transition: all 0.1s linear;
    color: var(--secondary);
}


.contents div + div {
    margin-left: 1rem;
}