.header {
    background-color: #ddd;
    padding: 0.3rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100%;
    max-height: 15rem;
    overflow-y: scroll;
    z-index: 10; 
    filter: drop-shadow(2px 2px 5px #ccc);
}

.element {
    background-color: #eee;
    padding: 0.3rem 1rem;
    width: 100%;
    border-top: 1px solid #AAA;
    box-sizing: border-box;
}

.element:hover {
    background-color: #ddd;
}
