.container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.container-show {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.container-hide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.75
}

.small {
  height: 20rem;
  width: 30rem;
  margin-top: calc(50vh - 10rem);
}

.large {
  height: 40rem;
  width: 40rem;
  margin-top: calc(50vh - 20rem);
}

.modal {
    max-width: calc(100vh - 4rem);
    overflow-y: auto;
    background-color: white;
    z-index: 101;
    padding: 1rem 2rem;
    border-radius: 1rem;
}