.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #fff;
    margin: 1rem 0;
    filter: drop-shadow(2px 2px 5px #ccc);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--muted);
}

.header > * {
    margin: 0.7rem 0;
}

.header p {
    font-size: 1.1em;
}

.title {
    color: var(--primary);
    margin-bottom: 0;
}

.mapContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.map {
    height: 50vh;
    max-height: 30rem;
    width: 100%;
}

.footer {
    min-height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer button {
    font-size: 1.1em;
    flex-grow: 1;
}

.muted {
    color: var(--muted);
    font-weight: 500;
}

.spanLink {
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
    transition: all 0.1s linear;
}

.spanLink:hover {
    color: var(--secondary);
    transition: all 0.1s linear;
}

