.button {
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s linear;
}

.button:hover {
    filter: brightness(1.1);
    transition: all 0.1s linear;
}